.image {
  border-radius: 20px 20px 0 0;
  max-width: 500px;
  max-height: 300px;
  object-fit: contain;
  margin: 0 auto;
}

.card {
  background-color: var(--white-color) !important;
  border-radius: 20px !important;
  position: relative;
  width: 100%;

  & a {
    color: var(--blue-color);
    font-weight: 800;
  }
}

.username span {
  color: var(--gray-color) !important;
}

.content {
  color: var(--gray-color) !important;
}
