.image {
  border-radius: 20px 20px 0 0;
  max-width: 500px;
  max-height: 300px;
  margin: 0 auto;
}

.card {
  background-color: var(--white-color) !important;
  border-radius: 20px !important;
  position: relative;
  width: 100%;

  & a {
    color: var(--blue-color);
    font-weight: 800;
  }
}

.username span {
  color: var(--gray-color) !important;
}

.content {
  color: var(--gray-color) !important;
  max-height: 64px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px !important;
}

@media (max-width: 768px) {
  .image {
    border-radius: 0;
  }

  .card {
    border-radius: 0 !important;
  }
}
