.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-color);
  border-radius: 16px;
  margin: 0 32px;
  padding: 12px 32px 32px;
  color: var(--gray-color);
}
.mainContent {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.wrapperList {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 14px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1240px) {
  .mainContent {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .wrapper {
    flex-direction: row;
    & > * {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    & > * {
      width: 100%;
    }
  }

  .possibleFriend {
    display: none;
  }
}
