.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-color);
  border-radius: 16px;
  margin: 0 32px;
  padding: 12px 32px 32px;
  height: 90vh;
  color: var(--gray-color);
}
.mainContent {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 100%;
  padding-top: 20px;
}

.wrapperList {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 16px;
  padding: 14px;
  min-width: 600px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
