.primaryButton {
  background-color: var(--blue-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--white-color);
  font-size: 17px;
  width: 100px;
  height: 40px;
}

.outlined {
  background-color: transparent;
  color: var(--blue-color);
}
