.intro {
  background-color: var(--white-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  min-width: 300px;
  height: 100%;
  position: sticky;
  top: 90px;
}

.title {
  color: var(--gray-color);
  font: var(--font-text-1);
  text-transform: uppercase;
}

.intoItem {
  align-items: center;
  display: flex;
  gap: 10px;
  color: var(--gray-color);
}

.profileInfo {
  color: var(--gray-color);
  font: var(--font-text-5);
  width: 50%;
}
