.sidebarMobile {
  align-items: center;
  display: none;
  border-bottom: 1px solid var(--medium-gray-color);
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  overflow: auto;
  padding: 10px;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.menuListMobile {
  align-items: center;
  color: var(--gray-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: var(--font-text-5);
  padding: 10px 0;
  max-height: 45px;
}

.menuListMobileActive {
  font-weight: 800;
}

@media (max-width: 490px) {
  .sidebarMobile {
    display: flex;
  }
}
