.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  width: 350px;
  border-right: 1px solid var(--medium-gray-color);
}

.menuList {
  align-items: center;
  border-bottom: 1px solid var(--medium-gray-color);
  color: var(--gray-color);
  cursor: pointer;
  display: flex;
  gap: 20px;
  font: var(--font-text-5);
  padding: 10px 0;
  max-height: 45px;
}

.menuListActive {
  font-weight: 800;
}

@media (max-width: 866px) {
  .sidebar {
    width: 250px;
  }
}
