.tabs {
  align-items: center;
  background-color: var(--light-gray-color);
  display: flex;
  gap: 35px;
  justify-content: center;
  padding: 15px 0;
  position: sticky;
  top: 62px;
  width: 100%;
  z-index: 10;
}

.tabs button {
  color: var(--light-color);
}

.activeTab {
  background-color: transparent;
  border: 1px solid var(--blue-color);
  color: var(--blue-color) !important;
}

@media (max-width: 1120px) {
  .options {
    gap: 15px;

    & > button {
      font: var(--font-text-5);
    }
  }
}
