.card {
  width: 100%;
  border-radius: 20px !important;

  & a {
    color: var(--blue-color);
    font-weight: 800;
  }
}

.image {
  border-radius: 20px;
  width: 500px;
}

.footerPost {
  padding: 10px;
}

.cardActions {
  padding: 0 !important;
  border-bottom: 1px solid var(--medium-gray-color);
  border-top: 1px solid var(--medium-gray-color);
}

.like {
  font: var(--font-text-4);
}
