.wrapperExistComment {
  display: flex;
  gap: 18px;
}

.container {
  background-color: var(--white-color);
  border-radius: 20px;
  gap: 14px;
  padding: 14px;
  width: 100%;
}

.name {
  color: var(--gray-color);
  font: var(--font-text-5);
  font-weight: 500;
  line-height: 22px;
}

.time {
  color: var(--gray-color);
  font-size: 12px;
  opacity: 0.6;
}

.content {
  color: var(--gray-color);
  font: var(--font-text-5);
  line-height: 22px;
  padding-top: 14px;
}

.commentHeader {
  display: flex;
  flex-direction: column;
}
