.containerWrapper {
  display: flex;
}

.container {
  background-color: var(--light-gray-color);
  border-radius: 20px;
  gap: 24px;
  padding: 32px;
  display: flex;
}
.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.friendAndWeather {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  position: sticky;
}

.cardNews {
  padding: 0 20px;
}