.containerWrapper {
  display: flex;
}

.container {
  background-color: var(--light-gray-color);
  border-radius: 20px;
  gap: 50px;
  padding: 30px 32px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.friendAndWeather {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 300px;
  padding-bottom: 10px;
  position: sticky;
  top: 80px;
}

.cardNews {
  padding: 0 20px;
}