.content {
  align-items: center;
  display: flex;
  gap:10px;
  justify-content: flex-end;
  width: 100%;
}

.searchInput {
  border: 2px solid var(--light-gray-color);
  border-radius: 10px;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
  width: 350px;
}

.userName {
  color: var(--gray-color);
  font-size: 17px;
  font-weight: 700;
}
