.content {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0 25px;
}

.userName {
  color: var(--gray-color);
  font: var(--font-text-3);
  font-weight: 700;
}

.avatarBlock {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.avatar {
  cursor: pointer;
}

.mainMenuItem {
  align-items: center;
  color: var(--gray-color);
  display: flex;
  font: var(--font-text-2);
  font-weight: 700;
  min-height: 64px;
}

.forum {
  color: var(--blue-color) !important;
  font: var(--font-subtitle);
}
@media (max-width: 768px) {
  .content {
    max-height: 40px !important;
  }

  .mainMenuItem {
    font: var(--font-text-4);
    font-weight: 500;
  }

  .avatar {
    width: 32px !important;
    height: 32px !important;
  }

  .userName {
    font: var(--font-text-4);
    font-weight: 500;
  }
}
