.container {
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--medium-gray-color);
  padding: 10px;
  justify-content: space-between;
}

.wrapperFriend {
  align-items: center;
  display: flex;
  gap: 15px;
}

.avatar {
  width: 60px !important;
  height: 60px !important;
}

.friendInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 14px 0;
}

.name {
  color: var(--gray-color);
  font: var(--font-text-3);
  font-weight: 500;
}

.bio {
  color: var(--gray-color);
  font: var(--font-text-4);
  opacity: 0.6;
}

.btnFriend {
  font: var(--font-text-4);
}
