.container {
  align-items: center;
  border-bottom: 1px solid var(--medium-gray-color);
  display: flex;
  justify-content: space-between;
  min-height: 95px;
  padding: 10px;
}

.wrapperFriend {
  align-items: center;
  display: flex;
  gap: 15px;
}

.avatar {
  height: 60px !important;
  width: 60px !important;
}

.friendInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 14px 0;
}

.name {
  color: var(--gray-color);
  font: var(--font-text-3);
  font-weight: 500;
}

.bio {
  color: var(--gray-color);
  opacity: 0.6;
  font: var(--font-text-4);
}

.btnFriend {
  font: var(--font-text-4);
}
