.form {
  align-items: center;
  border: var(--border-primary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

@media(max-width: 620px) {
  .form {
    max-width: 300px;
  }
}