.layout {
  display: flex;
}

.content {
  background-color: var(--light-gray-color);
  border-radius: 20px;
  padding: 50px 30px 20px;
}

.mainMenuItem {
  align-items: center;
  color: var(--gray-color);
  display: flex;
  font-size: 20px;
  font-weight: 800;
  padding-left: 25px;
  min-height: 64px;
}

.forum {
  font-size: 50;
}

.toolbar{
  background-color: var(--white-color);
}
