.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 150px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.childrenBlock {
  max-width: 1200px;
  width: 100%;
}
