.layout {
  display: flex;
}

.wrapperContent {
  background-color: var(--light-gray-color);
  padding: 80px 24px 50px;
}

.mainMenuItem {
  align-items: center;
  color: var(--gray-color);
  display: flex;
  font: var(--font-text-2);
  font-weight: 700;
  min-height: 64px;
  padding-left: 25px;
}

.forum {
  font-size: 50;
}

.toolbar {
  background-color: var(--white-color);
}

.hidden {
  display: none !important;
}
