.form {
  align-items: center;
  border: var(--border-primary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  max-width: 600px;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.link {
  color: var(--blue-color);
  position: relative;
  text-align: center;
  text-decoration: none;

  &:before {
    background-color: var(--blue-color);
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 0.5s;
    width: 0;
  }

  &:hover:before {
    width: 100%;
  }
}

.account {
  text-align: center;
}

.inputDate {
  width: 50%;
}

.inputGender {
  border: var(--border-primary);
  border-radius: 4px;
  height: 56px;
  padding-left: 15px;
  transition: all 0.5s ease-in-out;
  width: 50%;

  &:hover {
    border: 2px solid var(--black-color);
  }
}

.errorMessage {
  color: var(--red-color);
  font: var(--font-text-3);
}

input[type='date'] {
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

@media (max-width: 620px) {
  .form {
    max-width: 300px;
    gap: 10px;
  }

  .block {
    flex-direction: column;
  }

  .inputDate {
    width: 100%;
  }

  .inputGender {
    width: 100%;
  }
}
