.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.pofileHeader {
  border-radius: 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid #000;
  max-height: 465px;
  padding: 10px;
  position: relative;
}

.bgProfile {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.wrapperCover {
  position: relative;
}

.editCoverPhoto {
  background-color: var(--white-color);
  bottom: 20px;
  color: var(--gray-color);
  font: var(--font-text-5);
  position: absolute;
  padding: 0 5px;
  right: 20px;
  width: 130px;
}

.profileAvatar {
  border: 3px solid var(--white-color);
  bottom: 120px;
  height: 150px !important;
  left: 40px;
  position: relative;
  width: 150px !important;
}

.nameUser {
  color: var(--gray-color);
  font: var(--font-text-2);
}

.workUser {
  color: var(--gray-color);
  font: var(--font-text-4);
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 5px;
  padding: 0 30px;
  width: 100%;
}

.editInfo {
  background-color: rgb(241, 241, 241);
  color: var(--gray-color);
  font: var(--font-text-4);
  padding: 10px;
  width: 140px;
}

.userInfo {
  padding-left: 30px;
}

.content {
  display: flex;
  gap: 34px;
}

.intro {
  background-color: var(--white-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  min-width: 300px;
}

.title {
  color: var(--gray-color);
  font: var(--font-text-1);
  text-transform: uppercase;
}

.intoItem {
  align-items: center;
  display: flex;
  gap: 10px;
  color: var(--gray-color);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px ;
}

.imgContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.imgItem {
  border-radius: 10px;
  width: 40%;
  height: 70px;
  cursor: pointer;
}

.addingImg {
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.imgInput {
  width: 48%;
}

.errMessage {
  color: var(--blue-color);
}
