.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.avatarBlock {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 220px;
  width: 100%;
}

.editAvatar {
  background-color: var(--white-color);
  border: 1px solid var(--gray-color) !important;
  bottom: 0;
  color: var(--gray-color) !important;
  font-size: 10px !important;
  position: absolute !important;
  right: -17%;
  max-width: 120px;
  width: 100%;
}

.profileAvatar {
  height: 150px !important;
  width: 150px !important;
}

.title {
  color: var(--gray-color);
  font: var(--font-h3);
}
