.settingsWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.menuList {
  align-items: center;
  border-bottom: 1px solid var(--medium-gray-color);
  color: var(--gray-color);
  display: flex;
  gap: 10px;
  font: var(--font-text-4);
  height: 50px;
}

.menuListActive {
  align-items: center;
  border-bottom: 1px solid var(--medium-gray-color);
  color: var(--gray-color);
  display: flex;
  gap: 15px;
  font: var(--font-text-3);
  font-weight: 700;
  height: 50px;

  &::after {
    content: '›';
    font-size: 40px;
    height: 55px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.title {
  color: var(--gray-color);
  font: var(--font-h3);
  transition: all 0.5s ease-in-out;
}

.subtitle {
  color: var(--gray-color);
  font: var(--font-text-3);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 620px) {
  .wrapper {
    gap: 10px;
  }

  .title {
    font: var(--font-text-3);
    font-weight: 700;
  }
}
