.layout {
  background: var(--light-gray-color);
  border-radius: 20px;
  padding: 30px;
}

.settingsWrapper {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 18px;
  width: 100%;
}

.title {
  color: var(--gray-color);
  font: var(--font-subtitle);
}

.subtitle {
  color: var(--gray-color);
  font: var(--font-text-3);
}

@media (max-width: 620px) {
  .wrapper {
    gap: 10px;
  }

  .title {
    font: var(--font-text-3);
    font-weight: 700;
  }
}
