.form {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.labelBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

.inputDate {
  width: 100%;
}

.inputGender {
  align-items: center;
  border: var(--border-primary);
  border-radius: 10px;
  display: flex;
  gap: 15px;
  height: 56px;
  padding-left: 15px;
  width: 100%;

  &:hover {
    border: 2px solid var(--black-color);
  }
}

.btnBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}

.label {
  color: var(--gray-color) !important;
  font-weight: 700 !important;
}

.title {
  color: var(--gray-color);
  font: var(--font-text-2);
  font-weight: 700;
  text-align: start;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.avatarBlock {
  display: flex;
  position: relative;
}

.editAvatar {
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  background-color: var(--white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(25px);
  color: var(--gray-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  right: 0%;
  position: absolute;
  width: 30px;
}

.profileAvatar {
  background-color: var(--blue-color) !important;
  font: var(--font-h1) !important;
  height: 100px !important;
  width: 100px !important;
}

.addingImg {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.imgInput {
  width: 70% !important;
}

.cancelBtn {
  cursor: pointer;
}

@media (max-width: 620px) {
  .form {
    gap: 10px;
    max-width: 300px;
    width: 100%;
  }

  .block {
    flex-direction: column;
  }

  .labelBlock {
    gap: 5px;
    width: 100%;
  }

  .label {
    font: var(--font-text-5) !important;
    font-weight: 700 !important;
  }

  .title {
    font: var(--font-text-3);
    font-weight: 700;
  }

  .editAvatar {
    font-size: 7px !important;
    max-width: 90px;
  }
}
