.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
  width: 100%;
}

.title {
  color: var(--gray-color);
  font: var(--font-h3);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 620px) {
  .title {
    font: var(--font-text-2);
    font-weight: 700;
  }
}
