.friends {
  color: var(--gray-color);
  display: flex;
  font: var(--font-text-4);
  font-weight: 700;
  flex-direction: column;
  gap: 15px;
  & > * {
    border-radius: 20px !important;
  }
}

.mightLike {
  color: var(--dark-gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--medium-gray-color);
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
}

.cardHeader {
  align-items: center;
  display: flex;
  gap: 15px;
}

.title {
  color: var(--dark-gray-color);
  font-size: var(--font-text-3);
  font-weight: 600;
}

.subTitle {
  color: var(--gray-color);
  font: var(--font-text-4);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: var(--gray-color);
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  gap: 10px;
  & > * {
    min-width: 100px;
    height: 35px;
    font-size: 14px;
    font-weight: 520;
  }
}

.ignorFriends {
  border: 2px solid var(--medium-gray-color);
  color: var(--medium-gray-color);
}

.avatar {
  width: 50px !important;
  height: 50px !important;
}
