:root {
  --white-color: #fff;
  --gray-color: #606d85;
  --green-color: #0eb556;
  --dark-gray-color: #4e5d78;
  --light-gray-color: #f9fafb;
  --blue-color: #1976d2;
  --shadow-dark-color: rgba(0, 0, 0, 0.2);
  --black-color: #000;

  --border-primary: 1px solid #c4c4c4;

  --font-family-montserrat: 'Montserrat', sans-serif;

  --font-h1: 600 64px var(--font-family-montserrat);
  --font-h2: 600 48px var(--font-family-montserrat);
  --font-h3: 600 36px var(--font-family-montserrat);

  --font-text-1: 600 34px var(--font-family-montserrat);
  --font-text-2: 400 24px var(--font-family-montserrat);
  --font-text-3: 400 18px var(--font-family-montserrat);
  --font-text-4: 400 16px var(--font-family-montserrat);
  --font-text-5: 400 14px var(--font-family-montserrat);
}
