:root{
    --white-color: #fff;
    --gray-color: #606d85;
    --light-gray: #f9fafb;

    // --font-family-montserrat: 'Montserrat', sans-serif;

    // --font-h1: 600 64px var(--font-family-montserrat);
    // --font-h2: 600 48px var(--font-family-montserrat);
    // --font-h3: 600 36px var(--font-family-montserrat);
  
    // --font-text-1: 600 34px var(--font-family-montserrat);
    // --font-text-2: 400 24px var(--font-family-montserrat);
    // --font-text-3: 400 18px var(--font-family-montserrat);
    // --font-text-4: 400 16px var(--font-family-montserrat);
    // --font-text-5: 400 14px var(--font-family-montserrat);
}