@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: var(--font-family-montserrat);
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--gray-color);
    height: 10px;
  }
}

a {
  color: var(--dark-gray-color);
  text-decoration: none;
}

.active {
  background-color: var(--blue-color);
  border-radius: 10px;
  color: var(--white-color);
}

.activeBtn {
  background-color: transparent;
  color: var(--blue-color);  
  border: 1px solid var(--blue-color);
}
