@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.active {
  background-color: var(--gray-color);
  border-radius: 10px;
  color: #fff;
}
