.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
  max-width: 250px;
  position: sticky;
  top: 80px;
  padding: 16px;
}

.friends {
  color: var(--gray-color);
  display: flex;
  font: var(--font-text-4);
  font-weight: 600;
  flex-direction: column;
  gap: 20px;
}

.friend {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.name {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 15px;
  width: 120px;
}

.online {
  background: var(--green-color);
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.offline {
  font: var(--font-text-5);
  color: var(--gray-color);
}
